<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../stylesheets/style.css"/>
    <script src="../../javascripts/ejs.js"></script>
    <script src="../../javascripts/jquery.js"></script>
    <script src="../../javascripts/burger.js"></script>
    <script src="../../javascripts/index.js"></script>
    <script src="https://kit.fontawesome.com/471bdc5e2e.js" crossorigin="anonymous"></script>
    <title>Home - La Tapera Polo</title>
</head>
<body>
    <nav>
        <div class="logo">
            <h2>LA TAPERA</h2>
            <h3>- P O L O -</h3>
        </div>
        <div class="nav-links">
            <a href="./index.ejs">HOME</a>
            <a href="./resort.ejs">RESORT</a>
            <a href="./shop.ejs">SHOP</a>
            <a href="./breeding.ejs">BREEDING</a>
            <a href="../../index.html"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAALCAMAAABBPP0LAAAAbFBMVEVMxf8/wP4xuPkhs/YSrPEQqe+t5P+h3/ya3PyU2foDoOyL1fmC0fd5zPUAlOfC3Onm9v3h8vrc7vfY6vScwdPp6en9/f37+/v68rb56XD25WL19fXU1NT25Un140P27qzU5/JsyPRhwvIAhuC2ncW0AAAAU0lEQVR4AQXBORYBURRAwbrf686IsP/1SUk4pqpAJEp2IJImiyyS72FOQYh+a/ZQ9T1Ag2h6A4vw+7w3YF6FeHJ0bx4ziTPxug4fWW4RWtXG4AJ/IaIOhMRbob4AAAAASUVORK5CYII="/></a>
            <a href="./index.ejs"><img src=""/><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAALCAMAAABBPP0LAAAAt1BMVEWSmb66z+18msdig8La3u+tYX9IaLc7W7BagbmcUW+kqMr/q6n+//+hsNv/lIr/jIGMnNLJyOP9/fyQttT/wb3/////aWn+YWF5kNT0oqz0i4ueqtIZNJjhvt/8gn//WVr/6+rN1+o9RKZwgcMPJpX/VFT9UEn+RUX8Ozv2Ly+FGzdYZrfU1e/8LS/lQkG/mbVUX60AE231hHtcdMb0mp3qYFTFwNu3w9prcqSURGNDaaIUMX5FNW5wYt7AAAAAjklEQVR4AR3HNUJEMQCGwf+L8RR36ajR+1+CEuvRdd8kK9MNAiRQNgJmVDAt1yM6kSzYVJUsPNssAk5N7ZFKjVNFAY4co6TAOI+kyQm+LFUEBEKKzuWUNB7rSH/rSnvOulOGk+QlXTBqMIrfYX4tSe2nP3iRa/KNK7uTmWJ5a9+erZ3d+18od4ytiZdvZyuKWy8o3UpTVAAAAABJRU5ErkJggg=="/></a>
        </div>
        <div class="burger">
            <div class="level first"></div>
            <div class="mid-level"></div>
            <div class="level last"></div>
        </div>
    </nav>
    <main>
        <!-- landing -->
        <div class="container">
            <img class="landing-img" src="../../images/DSC02112(1).JPG"/>
            <div class="title-container">
                <h2>LA TAPERA</h2>
                <h3>- P O L O -</h3>
            </div>
        </div>
        <!-- end landing -->
        <div class="sections">
            <div class="section">
                <div class="content">
                    <div class="section-name">
                        <a href="./views/tienda.ejs">SHOP</A>
                    </div>
                    <img class="content-img" src="../../images/menu3.jpg"/>
                </div>
            </div>
            <div class="section">
                <div class="content">
                    <div class="section-name">
                        <a href="./views/resort.ejs">RESORT</a href="">
                    </div>
                    <img class="content-img" src="../../images/unnamed.jpg"/>
                </div>
            </div>
            <div class="section">
                <div class="content">
                    <div class="section-name">
                        <a href="./views/cria.ejs">BREEDING</a>
                    </div>
                    <img class="content-img" src="../../images/Screenshot 2021-11-08 at 01-11-38 Cría La Tapera ( crialatapera) • Fotos y vídeos de Instagram.png"/>
                </div>
            </div>
            <div class="section">
                <div class="content">
                    <div class="section-name">
                        <a href="">POLO DAY</a>
                    </div>
                    <img class="content-img" src="../../images/DSC02015 - copia.JPG"/>
                </div>
            </div>
        </div>
        <!-- map -->
        <div class="mapouter">
            <div class="gmap_canvas">
                <iframe width="100%" height="300" id="gmap_canvas" src="https://maps.google.com/maps?q=34%C2%B028'06.7%22S%2059%C2%B044'34.0%22W&t=k&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                <a href="https://123movies-org.net">123movies</a>
                <br>
                <style>.mapouter{position:relative;text-align:right;height:300px;width:100%;}</style>
                <a href="https://www.embedgooglemap.net">embedgooglemap.net</a>
                <style>.gmap_canvas {overflow:hidden;background:none!important;height:300px;width:100%;}</style>
            </div>
        </div>
        <!-- end map -->
        <!-- social media -->
        <div class="social-container">
            <h2>FOLLOW US ON INSTAGRAM</h2>
            <div class="social-icons">
                <a href="">
                    <img src="https://img.icons8.com/cute-clipart/64/000000/instagram-new.png"/>
                </a>
            </div>
        </div>
        <!-- end social media -->
    </main>
    <!-- end main -->
    <!-- start footer -->
    <footer>
        <div class="dev-info">
            <p>Designed & developed by Pato Sala</p>
            <div class="social-icons">
                <a href="https://www.linkedin.com/in/patricio-sala-1025a1190/?locale=en_US" class="dev-social-icon linkedin">
                    <i class="fab fa-linkedin-in fa-2x" aria-hidden="true"></i>
                </a>
                <a href="https://github.com/PatoSala" class="dev-social-icon github">
                    <i class="fab fa-github fa-2x" aria-hidden="true"></i>
                </a>
                <a href="https://www.instagram.com/pato.sala/" class="dev-social-icon ig">
                    <i class="fab fa-instagram fa-2x" aria-hidden="true"></i>
                </a>
                <a href="mailto: patosala998@gmail.com?subject= Get In Touch" class="dev-social-icon email">
                    <i class="fas fa-at fa-2x" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </footer>
    <!-- end footer -->
</body>
</html>