footer {
    padding: 20px 0px;
    width: 100%;
    background: #2c2c2e;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dev-info {
    padding-top: 10px;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid gray;
}

.dev-info p {
    color: #737373;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    width: max-content;
}

.social-icons {
    display: flex;
    width: max-content;
}

.dev-social-icon {
    /* width: 55px;
    height: 55px;
    background: #33353d;
    border-radius: 100%;
    margin: 0px 30px;
    text-align: center; */
    display: block;
    width:50px;
    height:50px;
    line-height: 63px;;
    margin-left:6px;
    margin-right:0;
    border-radius:100%;
    background-color:#33353d;
    text-align: center;
    transition: 0.3s;
}

.dev-social-icon i {
    color: #e5e5ea;
}

.github:hover {
    background: black;
    transition: 0.3s;
}

.ig:hover {
    background: #bd2be2;
    transition: 0.3s;
}

.linkedin:hover {
    background: #086fcf;
    transition: 0.3s;
}

.email:hover {
    background: palevioletred;
    transition: 0.3s;
}