footer {
    background: #121416;
    padding: 35px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
}

.footer-links {
    display: flex;
    justify-content: center;

    color: white;
    font-size: 14px;
    text-decoration: none;
    list-style: none;
    margin-bottom: 20px;
}

.footer-links li {
    cursor: pointer;
}

.footer-links a {
    color: white;
    transition: 0.2s;
}

.footer-links a:hover {
    color: #dfbd69;
    transition: 0.2s;
}

.copyright {
    color: #a6a6a6;
    font-size: 14px;
}

@media only screen and (max-width: 768px) {
    
}