.social-container {
    width: 100%;
    background: white;
    padding-top: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.social-container h2 {
    font-family: Roboto;
}

.social-icons {
    display: flex;
    align-items: center;
}